@{
    ViewBag.Title = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @*<li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>*@
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="">
    <h1>Lexicon School Management</h1>
    <p class="lead">This program is written using ASP, c#, .net database.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Read more about it from microsoft.</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            primary there is a course class, it contains information about the course.
        </p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h2>The red thread</h2>
        <p>The modules is the red thread for the course, which they have special keypoints.</p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h2>Working and solutions</h2>
        <p>The activitys table is built during the course, the progress,examples as well as all task assignements.</p>
        <p>&nbsp;</p>
    </div>
</div>