a {
    color: #EFB509;
}

h1 {
    margin-top: 0px;
}


.breadcrumb {
    margin-bottom: 0px;
}
.button-design {
    margin: 10px 0px;
    background-color: #16253D;
    color: #EFB509;
    border: none;
    opacity: 0.8;
}

    .button-design:hover {
        margin: 10px 0px;
        background-color: #16253D;
        color: #EFB509;
        opacity: 1;
    }

.btn-group .button-design {
    opacity: 0.6;
}

.button-design.active {
    opacity: 0.8;
    color: #EFB509;
}

.button-design:active, .button-design:visited, .button-design:focus {
    color: #EFB509;
}

.btn-group .button-design:hover {
    opacity: 1;
}

#message {
    display: none;
    background-color: #16253D;
    border-radius: 5px;
    color: #EFB509;
    font-size: 14px;
    opacity: 0.8;
    padding: 6px 9px;
    margin: 0px;
}

  

html {
    height: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
    /*background-color: #002C54;*/
    padding-bottom: 0px;
    background: url(../Images/body-pattern.jpeg);
}

#bodyloginpage {
    background: #fdfdfd;
}

#navbarTop {
    background-color: #16253D;
}

    #navbarTop a {
        color: #EFB509;
    }

.breadcrumb {
    background-color: #fdfdfd;
}

#message-row {
    min-height: 60px;
    padding-top: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    background-color: #fdfdfd;
}

.form-horizontal {
    background-image: url(../Images/body-pattern.jpeg);
    width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

#tableStudents {
    display: none;
}



