html {
    height: 100%;
}

a {
    color: #EFB509;
}


.btn {
    color:  whitesmoke;
}

body {
    padding-top: 50px;   
    height: 100%;
    /*background-color: #002C54;*/
    padding-bottom: 0px;
    background-image: url(../Images/body-pattern.jpeg);
}
#navbarTop {
    background-color: #16253D !important;
    color: #EFB509 !important;

}

#navbarTop a {
    color: #EFB509 !important;
}/* Set padding to keep content from hitting the edges */

.breadcrumb {
    background-color: #fdfdfd;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    background-color: #fdfdfd;
}

.bread-crum-info a {
    color: #EFB509 !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*table {
    margin: 20px 0px;
}*/

.btn {
    margin: 10px 0px;
    background-color: #16253D !important;
    color: #EFB509 !important;
    border: none;
    opacity: 0.8;
}

.btn-info:hover {
    margin: 10px 0px;
    background-color: #16253D !important;
    color: #EFB509 !important;
    opacity: 1;
}

/*.table_div {
    /*max-height: 400px;*/
    margin: 10px 0px;
    /*border: double;*/
    /*overflow: auto;*/
}

       


#message2 {
          width: 100%;
          display: none;
         
          


}
.green {
    background-color: green;
}

.red {
    background-color: red;
}

#message2 p {
    font-size: 1em;
    padding: 5px;
    color: white;
}

/*#tableCourseInfo {

    display: none;
}*/

/*footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}*/

#tableStudents {
    display: none;
}

.btn-group button {
    opacity: 0.6;
}

button.active {
    opacity: 0.8 !important;
 
}

.form-horizontal {
    background-image: url(../Images/body-pattern.jpeg);
    width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}